test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

# Use bin/rails credentials:edit to set the AWS secrets (as aws:access_key_id|secret_access_key)
# amazon:
#   service: S3
#   access_key_id: <%= Rails.application.credentials.dig(:aws, :access_key_id) %>
#   secret_access_key: <%= Rails.application.credentials.dig(:aws, :secret_access_key) %>
#   region: us-east-1
#   bucket: your_own_bucket-<%= Rails.env %>

# MinIO (S3-compatible) storage configuration
minio:
  service: S3
  access_key_id: <%= ENV.fetch("MINIO_ACCESS_KEY_ID", "minioadmin") %>
  secret_access_key: <%= ENV.fetch("MINIO_SECRET_ACCESS_KEY", "minioadmin") %>
  region: us-east-1
  bucket: <%= ENV.fetch("MINIO_BUCKET", "solidus-storage-#{Rails.env}") %>
  # For production, use public URL if MinIO is accessible via domain
  # For internal access, use container name or bridge gateway IP
  endpoint: <%= ENV.fetch("MINIO_ENDPOINT", Rails.env.production? ? "https://#{ENV.fetch('DOMAIN', 'thestorefront.co.in')}/storage" : "http://localhost:9000") %>
  public: true
  force_path_style: true
  # Note: If using internal endpoint, ActiveStorage will generate direct URLs that won't work from browser
  # Solution: Either make MinIO publicly accessible or use ActiveStorage proxy mode

# Remember not to checkin your GCS keyfile to a repository
# google:
#   service: GCS
#   project: your_project
#   credentials: <%= Rails.root.join("path/to/gcs.keyfile") %>
#   bucket: your_own_bucket-<%= Rails.env %>

# Use bin/rails credentials:edit to set the Azure Storage secret (as azure_storage:storage_access_key)
# microsoft:
#   service: AzureStorage
#   storage_account_name: your_account_name
#   storage_access_key: <%= Rails.application.credentials.dig(:azure_storage, :storage_access_key) %>
#   container: your_container_name-<%= Rails.env %>

# mirror:
#   service: Mirror
#   primary: local
#   mirrors: [ amazon, google, microsoft ]
